:root {
  --primary-bg: #fff;
  --theme1: #3c3a39;
  --theme2: #1c1a19;
  --theme3: #ff6b00;
  --light-text-theme: #e5e5e5;
  --white-theme: #fff;
  --offwhite-theme: #fff5e1;
  --offwhite-theme2: #dbd8d7;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-bg);
  justify-content: center;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  cursor: pointer;
}

p::-webkit-scrollbar {
  background-color: #e4e4e4;
  border-radius: 100px;
  box-shadow: inset 0 0 5px grey;
  display: none;
}

p::-webkit-scrollbar-thumb {
  background-color: #685c5c;
  border-radius: 100px;
}

.logo {
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  color: var(--white-theme);
  font-size: 16px;
  min-width: 112px;
}

.hidden {
  display: none;
}

header {
  transition: all 500ms ease-in-out;
}

.top-nav {
  display: flex;
  padding: 5px 24px 5px 24px;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  font-size: 15px;
  background-color: var(--theme1);
  color: var(--white-theme);
  height: inherit;
}

.right-links {
  display: flex;
  transition: all 2s ease-in-out;
}

.icon-mail {
  display: flex;
  height: 22px;
  width: 22px;
  background-image: url(../img/Icon\ -\ Mail.png);
}

.right-links ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding-left: 0;
  transition: all 2s ease-in-out;
  flex: 1;
}

.nav-link {
  display: flex;
  margin: 0 40px;
}

#mail-icon {
  margin-right: 0;
}

@media screen and (max-width: 674px) {
  .nav-link {
    display: none;
    border-bottom: 1px solid #6f6c6b;
    width: 100%;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    padding: 20px 0 10px;
    transition: all 2s ease-in-out;
  }

  .desktop-modal-text {
    display: none;
  }

  .nav-links li a {
    color: var(--offwhite-theme);
    transition: all 2s ease-in-out;
  }

  .display-block {
    display: flex;
    flex-direction: column;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
  }

  .right-links {
    width: 100%;
    justify-content: space-between;
    transition: all 500ms ease-in-out;
  }

  .icon-mail {
    display: none;
  }

  .desktop-modal-title {
    display: none;
  }

  .modal-image {
    width: 70%;
  }

  button.modal-button {
    font-size: 0.8rem;
  }

  .modal-description-text-desktop {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 240px;
  }

  .modal-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .modal-button {
    font-size: 0.8rem;
  }
}

.nav-link a {
  text-decoration: none;
  color: var(--white-theme);
}

.hamburger {
  cursor: pointer;
  margin-right: 15px;
  position: absolute;
  left: 85%;
  transition-duration: 500ms;
}

@media screen and (min-width: 675px) {
  .hamburger {
    display: none;
  }

  .mobile-modal-text {
    display: none;
    line-height: 24px;
  }

  .contact-bar {
    margin-right: 35px;
    order: -1;
  }

  .contact-bar ul {
    flex-direction: column;
    justify-content: center;
  }

  .bottom-contact-bar .bottom-icons {
    flex-direction: row;
  }

  .mobile-modal-title {
    display: none;
  }

  .desktop-modal-title {
    font-size: 2rem;
  }

  .modal-tags li div {
    font-size: 15px;
    font-weight: 500;
  }

  @media screen and (max-width: 786px) {
    button.modal-button {
      font-size: 0.8rem;
    }
  }

  .modal-details {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 30px;
  }
}

.bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px auto;
  background-color: var(--white-theme);
  transition-duration: 500ms;
}

.bar-top.change {
  transform: translateY(14px) rotateZ(45deg);
}

.change.bar-bottom {
  transform: translateY(0) rotateZ(-45deg);
}

.welcome {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background-color: var(--theme2);
  background-image: url("../img/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position: 100% 115%;
  color: var(--white-theme);
  padding: 120px 24px;
}

.greeting-text-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  color: var(--white-theme);
}

.greeting-text-container p {
  max-width: 520px;
  font-size: 16px;
  line-height: 24px;
}

.who-am-i {
  color: var(--offwhite-theme);
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.greeting-text-container h1,
.greeting-text-container h3 {
  margin: 0;
  padding: 0;
}

.greeting {
  color: var(--theme3);
  font-weight: 400;
  font-size: 56px;
  font-family: 'Crete Round', sans-serif;
  margin-bottom: 12px;
  max-width: 350px;
}

.contact-bar {
  display: flex;
  font-size: 20px;
}

.contact-bar ul {
  display: flex;
  flex: 0 0 auto;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 200px;
}

.tags li {
  font-family: 'Inter', sans-serif;
  list-style: none;
  border: 1px solid #8993a4;
  font-size: 15px;
  margin: 0 12px 0 0;
  padding: 10px 10px 10px 12px;
}

.modal-tags li {
  font-family: 'Poppins', sans-serif;
  list-style: none;
  border: 1px solid #8993a4;
  font-size: 13px;
  font-weight: 600;
  margin: 0 12px 0 0;
  padding: 10px 10px 10px 12px;
}

.contact-bar ul li {
  margin: 10px;
}

.fa-github,
.fa-facebook,
.fa-twitter,
.fa-linkedin,
.fa-instagram {
  color: var(--offwhite-theme2);
}

.fa {
  text-decoration: none;
}

form > * {
  margin-bottom: 24px;
}

.recent-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 24px;
}

.recent-works > * {
  display: flex;
}

.recent-works-heading-container {
  /* display: flex; */
}

.recent-works-heading-container > * {
  display: flex;
}

.heading,
.headings,
.skill {
  font-family: 'Crete Round', sans-serif;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  border-bottom: 1px solid #212121;
  margin-bottom: 80px;
}

.headings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heading {
  margin-bottom: 0;
  border-bottom: none;
  padding-top: 10px;
}

.recent-work-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.recent-work-divider {
  background-color: #212121;
  height: 1px;
  width: 100%;
  display: flex;
  margin: 0 15px 80px 15px;
}

.title-project {
  display: flex;
}

.title-project-details p {
  max-width: 500px;
}

.heading h1 {
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 50px;
}

.featured-img-space {
  display: flex;
  margin-bottom: 12px;
  flex-direction: column;
}

.featured-img-space h3 {
  font-size: 25px;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  margin-bottom: 12px;
}

.featured-img-space p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.featured-img {
  min-width: 321.688px;
  min-height: 233.141px;
  background-image: url(../img/Img\ Placeholder.svg);
  background-size: contain;
  background-repeat: no-repeat;
  flex: 1 0 auto;
}

.tags {
  margin-bottom: 12px;
}

.tags ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.see-project {
  font-size: 17px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  color: var(--white-theme);
  background-color: var(--theme3);
  border: none;
  padding: 12px;
}

.featured-img-space .see-project {
  max-width: 124px;
}

.see-project:hover {
  color: #ff6b00;
  background-color: var(--offwhite-theme);
  transition: background-color 2s;
}

.see-project:active {
  color: var(--offwhite-theme);
  background-color: #e05304;
}

.see-project:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
}

.card-button {
  align-self: stretch;
}

.card-container {
  width: 100%;
  display: grid;
  justify-content: center;
  gap: 28px;
  grid-template-columns: repeat(auto-fit, 327px);
  row-gap: 25px;
}

.card {
  min-height: 337px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background: url(../img/card-background.png);
  width: 327px;
  cursor: pointer;
}

.card1 {
  background-image: url(../img/card1.png);
}

.card2 {
  background-image: url(../img/card2.png);
}

.card3 {
  background-image: url(../img/card3.png);
}

.card-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 16px 0 16px;
}

.project-title {
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: var(--white-theme);
  margin-top: 85px;
  margin-bottom: 0;
}

.project-description {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--white-theme);
  margin-top: 7px;
}

.tags .card-tag {
  background: rgba(255, 255, 255, 0.24);
  border: none;
  color: var(--white-theme);
}

.personal {
  display: flex;
  align-items: center;
  background-color: var(--theme2);
  background-image: url("../img/illustration-about-me-mobile.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.personal-text p {
  max-width: 500px;
}

.title-project-details {
  max-width: 500px;
}

.personal .greeting {
  font-size: 70px;
  margin-bottom: 30px;
}

.about-myself {
  background-color: var(--theme2);
}

.about-myself .personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px 221px 24px;
  color: var(--offwhite-theme2);
  line-height: 24px;
}

.resume {
  margin-top: 10px;
  align-self: flex-start;
}

.margin {
  padding: 0;
  background-color: var(--theme2);
}

.divider {
  margin: 0 24px;
  margin-bottom: 80px;
  min-width: 327px;
  border-bottom: 1px solid var(--offwhite-theme);
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--theme2);
}

.skills ul {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: var(--white-theme);
  font-family: 'InaiMathi', sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}

.headings ul {
  margin-right: 0;
}

.language,
.frameworks,
.skills-list {
  font-family: 'InaiMathi', sans-serif;
  font-size: 32px;
  padding: 0 90px 0 45px;
  margin-bottom: 44px;
}

.lang {
  font-size: 22px;
  margin-bottom: 32px;
}

.orange {
  color: #ff6b00;
  margin-right: 12px;
  font-size: 40px;
}

.frameworks,
.skills-list {
  /* padding-top: 40px; */
}

.skills-list {
  padding-left: 50px;
}

.contact-me {
  padding: 120px 24px 0 24px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact-me-header {
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
  padding-bottom: 20px;
  width: 400px;
  margin: 10px;
}

form {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  font-family: Inter, sans-serif;
  margin-bottom: 100px;
  flex: 2;
}

#details {
  background-color: #fbf8f7;
  border: none;
}

textarea {
  padding: 10px;
  display: flex;
}

textarea::placeholder {
  color: #3c3a39;
}

#full-name,
#email {
  font-size: 15px;
  font-family: Inter, sans-serif;
  padding: 14px;
  border: none;
  border-bottom: 1.5px solid #dbd8d7;
}

textarea::-webkit-resizer {
  background-image: url(../img/Union.png);
  background-repeat: no-repeat;
}

form button {
  justify-content: center;
  width: 131px;
  height: 48px;
  align-self: center;
}

.bottom-divider {
  border-bottom: 1px solid #dfe1e6;
}

.bottom-contact-bar {
  justify-content: center;
}

.bottom-icons li a {
  color: #505f79;
  font-size: 22px;
  padding: 10px 0;
}

@media screen and (min-width: 675px) {
  .greeting {
    font-size: 72px;
  }

  #modal {
    max-height: 631px;
    max-width: 1156px;
  }

  .greeting-text-container p {
    font-size: 20px;
  }

  .who-am-i {
    font-size: 32px;
  }

  .welcome {
    flex-direction: row;
    background-image: url(../img/Illustration-header-full.svg);
    background-repeat: no-repeat;
    background-position-x: 500px;
    background-position-y: 40%;
    padding-top: 200px;
  }

  .logo {
    padding-left: 68px;
  }
}

@media screen and (min-width: 759px) {
  form button {
    align-self: flex-start;
  }
}

@media screen and (min-width: 1177px) {
  .welcome {
    background-position-x: 100%;
  }
}

@media screen and (min-width: 1100px) {
  .recent-work-heading-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .recent-work-divider {
    flex: 1;
    width: 100%;
    background-color: #212121;
    height: 1px;
    display: flex;
    margin: 0 15px;
    align-self: center;
    margin-bottom: 0;
  }

  .featured-img-space {
    flex-direction: row;
    gap: 20px;
  }

  .featured-img {
    width: 684px;
    height: 448px;
  }

  .title-project-details {
    max-width: 500px;
  }

  .personal {
    display: flex;
    background-image: url(../img/illustration-about\ me.svg);
    background-position: 100%;
  }

  .personal-text {
    padding-left: 40px;
    align-self: flex-start;
  }

  .personal-text p {
    width: 500px;
  }
}

.bar-middle.hidden {
  background-color: var(--theme1);
}

.open {
  height: 100%;
}

.flex {
  display: flex;
}

#modal-backdrop,
#modal-backdrop1 {
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6px);
}

#modal {
  box-sizing: border-box;
  background-color: var(--white-theme);
  border: 1px solid #dfe1e6;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  width: 343px;
  padding: 1rem;
  flex: 1;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-close {
  width: 40px;
  height: 40px;
  background-image: url(../img/modal-close.svg);
  cursor: pointer;
}

.mobile-modal-title,
.desktop-mobile-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
}

.mobile-modal-title {
  font-size: 28px;
}

.modal-tags ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.modal-button {
  display: flex;
  float: left;
  gap: 8px;
  align-items: center;
}

.source-button {
  margin-right: 10px;
}

.demo-icon {
  height: 22px;
  width: 22px;
  background-image: url(../img/source-icon.svg);
}

.source-icon {
  height: 22px;
  width: 22px;
  background-image: url(../img/Icon\ -GitHub.svg);
}

.modal-image {
  display: flex;
  flex: 1;
  width: 50%;
  max-width: 620px;
  margin: 1rem 0;
}

.modal-description-text-desktop {
  overflow: scroll;
  font-family: 'inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #344563;
  max-width: 400px;
  max-height: 200px;
  margin-top: 0;
  padding-right: 0;
  overflow-x: hidden;
}

@media screen and (min-width: 1005px) {
  .modal-description-text-desktop {
    overflow: auto;
    max-height: 100%;
  }
}

@media screen and (max-width: 674px) {
  .modal-image {
    width: 100%;
    max-width: 400px;
  }
}

@media screen and (min-width: 674px) and (max-width: 694px) {
  button.modal-button {
    font-size: 0.7rem;
  }
}
