:root {
  --primary-bg: #fff;
  --theme1: #3c3a39;
  --theme2: #1c1a19;
  --theme3: #ff6b00;
  --light-text-theme: #e5e5e5;
  --white-theme: #fff;
  --offwhite-theme: #fff5e1;
  --offwhite-theme2: #dbd8d7;
}

body {
  background-color: var(--primary-bg);
  justify-content: center;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  color: var(--white-theme);
  font-size: 16px;
}

.top-nav {
  display: flex;
  padding: 5px 24px;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  font-size: 15px;
  background-color: var(--theme1);
  color: var(--white-theme);
}

.right-links {
  display: flex;
}

.icon-mail {
  display: flex;
  height: 22px;
  width: 22px;
  background-image: url(../img/Icon\ -\ Mail.png);
}

.right-links ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-link {
  display: flex;
  margin: 0 40px;
}

@media screen and (max-width: 899px) {
  .nav-link {
    display: none;
  }
}

.nav-link a {
  text-decoration: none;
  color: var(--white-theme);
}

.hamburger {
  cursor: pointer;
  margin-right: 15px;
}

@media screen and (min-width: 900px) {
  .hamburger {
    display: none;
  }
}

.bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px auto;
  background-color: var(--white-theme);
}

.welcome {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background-color: var(--theme2);
  background-image: url("../img/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position: 100% 115%;
  color: var(--white-theme);
  padding: 120px 24px;
}

.greeting-text-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  color: var(--white-theme);
}

.greeting-text-container p {
  max-width: 520px;
  font-size: 16px;
  line-height: 24px;
}

.who-am-i {
  color: var(--offwhite-theme);
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.greeting-text-container h1,
.greeting-text-container h3 {
  margin: 0;
  padding: 0;
}

.greeting {
  color: var(--theme3);
  font-weight: 400;
  font-size: 56px;
  font-family: 'Crete Round', sans-serif;
  margin-bottom: 12px;
  max-width: 350px;
}

.contact-bar {
  display: flex;
  font-size: 20px;
}

.contact-bar ul {
  display: flex;
  flex: 0 0 auto;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 200px;
}

@media screen and (min-width: 675px) {
  .greeting {
    font-size: 72px;
  }

  .greeting-text-container p {
    font-size: 20px;
  }

  .who-am-i {
    font-size: 32px;
  }

  .welcome {
    flex-direction: row;
    background-image: url(../img/Illustration-header-full.svg);
    background-repeat: no-repeat;
    background-position-x: 500px;
    background-position-y: 40%;
    padding-top: 200px;
  }

  @media screen and (min-width: 1175px) {
    .welcome {
      background-position-x: 100%;
    }
  }

  .contact-bar ul {
    flex-direction: column;
    justify-content: center;
  }

  .contact-bar {
    margin-right: 35px;
    order: -1;
  }
}

.tags li {
  font-family: 'Inter', sans-serif;
  list-style: none;
  border: 1px solid #8993a4;
  font-size: 15px;
  margin: 0 12px 0 0;
  padding: 10px 10px 10px 12px;
}

.contact-bar ul li {
  margin: 10px;
}

.fa-github,
.fa-facebook,
.fa-twitter,
.fa-linkedin,
.fa-instagram {
  color: var(--offwhite-theme2);
}

.fa {
  text-decoration: none;
}

form > * {
  margin-bottom: 24px;
}

.recent-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 24px;
}

.recent-works > * {
  display: flex;
}

.heading,
.headings {
  font-family: 'Crete Round', sans-serif;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  border-bottom: 1px solid #212121;
  margin-bottom: 80px;
}

.heading h1 {
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 50px;
}

.featured-img-space {
  margin-bottom: 12px;
}

.featured-img-space h3 {
  font-size: 25px;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  margin-bottom: 12px;
}

.featured-img-space p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.featured-img {
  width: 321.688px;
  height: 233.141px;
  background-image: url(../img/featured-img.png);
}

.tags {
  margin-bottom: 12px;
}

.tags ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.see-project {
  font-size: 17px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  color: var(--white-theme);
  background-color: var(--theme3);
  border: none;
  padding: 12px;
}

.see-project:hover {
  color: #ff6b00;
  background-color: var(--offwhite-theme);
}

.see-project:active {
  color: var(--offwhite-theme);
  background-color: #e05304;
}

.see-project:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
}

.card-button {
  align-self: stretch;
}

.card-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto;
  row-gap: 24px;
  margin-top: 10px;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background: url(../img/card-background.png);
  width: 327px;
}

.card-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 16px 0 16px;
}

.project-title {
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: var(--white-theme);
  margin-top: 85px;
  margin-bottom: 0;
}

.project-description {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--white-theme);
  margin-top: 7px;
}

.tags .card-tag {
  background: rgba(255, 255, 255, 0.24);
  border: none;
  color: var(--white-theme);
}

.personal {
  background-color: var(--theme2);
  background-image: url("../img/illustration-about-me-mobile.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.personal .greeting {
  font-size: 70px;
  margin-bottom: 30px;
}

.about-myself .personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px 221px 24px;
  color: var(--offwhite-theme2);
  line-height: 24px;
}

.resume {
  margin-top: 10px;
  align-self: flex-start;
}

.margin {
  padding: 0 24px;
  background-color: var(--theme2);
}

.divider {
  margin: 0 24px;
  max-width: 327px;
  border-bottom: 1px solid var(--offwhite-theme);
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--theme2);
}

.skills ul {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: var(--white-theme);
  font-family: 'InaiMathi', sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}

.headings ul {
  margin-right: 0;
}

.language,
.frameworks,
.skills-list {
  font-family: 'InaiMathi', sans-serif;
  font-size: 32px;
  padding: 120px 90px 0 45px;
  margin-bottom: 44px;
}

.lang {
  font-size: 22px;
  margin-bottom: 32px;
}

.orange {
  color: #ff6b00;
  margin-right: 12px;
  font-size: 40px;
}

.frameworks,
.skills-list {
  padding-top: 40px;
}

.skills-list {
  padding-left: 50px;
}

.contact-me {
  padding: 120px 24px 0 24px;
  display: flex;
  flex-direction: column;
}

.contact-me-header {
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
  padding-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  font-family: Inter, sans-serif;
  margin-bottom: 100px;
}

#details {
  background-color: #fbf8f7;
  border: none;
}

textarea {
  padding: 10px;
  display: flex;
}

textarea::placeholder {
  color: #3c3a39;
}

#full-name,
#email {
  font-size: 15px;
  font-family: Inter, sans-serif;
  padding: 14px;
  border: none;
  border-bottom: 1.5px solid #dbd8d7;
}

textarea::-webkit-resizer {
  background-image: url(../img/Union.png);
  background-repeat: no-repeat;
}

form button {
  justify-content: center;
  width: 131px;
  height: 48px;
  align-self: center;
}

.bottom-divider {
  border-bottom: 1px solid #dfe1e6;
}

.bottom-contact-bar {
  justify-content: center;
}

.bottom-icons li a {
  color: #505f79;
  font-size: 22px;
  padding: 10px 0;
}
